/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;

}
nav a{
	text-decoration: none;
	color:black;
}

li:hover,li a:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: 0 auto 20px auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact input[type="submit"]{
	padding: 10px 25px 10px 25px;
	margin: 30px auto 0 auto;
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.selected,.formLogin input[type="submit"],.btnAjout,.modal button,#contact input[type="submit"]{
	color: white !important;
	background-color: #1D6154;
}
.formLogin input[type="submit"],.formAjout input[type="submit"],.btnAjout,.selection ul li,.modal button,#contact input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	width: fit-content;
	text-align: center;
	border-radius: 60px ;
	border: 1px solid #1D6154 ;	
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}
/* filtre category */
.selection{
	margin-bottom: 20px;
}
.selection ul{
	display: flex;
	justify-content: center;
	flex-direction: row;
}
.selection ul li{
	margin-right: 10px;
	padding: 10px;
}
 
 /* login page */
 .formLogin input[type="submit"],.formAjout input[type="submit"] ,.btnAjout{
	padding: 10px 38px;
 }
 .formLogin{
	width: 100%;
	align-items: center;
}
.formLogin, .formAjout{
	display: flex;
	flex-direction: column;
	margin: 50px auto;
}
.formLogin h2{
	margin-bottom: 20px;
}

label , input{
	display: block;
}
.formLogin div input{width: 100%;}
.formLogin div input,.formAjout div input[type="text"],.formAjout select{
	margin-top: 7px;
	margin-bottom: 20px;
	border: 1px  solid white;
	height: 51px;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
.formLogin div{
	width: 33.3%;
}

.formLogin a{
	color:black;
	text-decoration: underline;
}
.separation{
	background-color: grey;
	height: 2px;
	width: 100%;
}
/* page index when connected */
.editBtn{	
font-family: 'Work Sans';
font-style: normal !important;
font-weight: 400;
font-size: 14px;
line-height: 16px;
text-align: center;
color: #000000 !important;
}
/* modal */
.backmodal{
	overflow: auto;
	position: fixed;
	display: none;
	width: 100%;
	height: 100vh;
	background-color: rgba(63, 63, 58, 0.5);
	top:0;
	left:0;
	z-index: 0;
}
.modal{	
	width: 630px;
	height: 730px;
	position:relative ;
	background-color: white;
	border-radius: 10px;
	margin : 50px auto;
	display: flex;
	flex-direction: column;
	align-items: center;	
	padding:60px 105px 30px 105px;
	z-index: 1;
}
.fa-xmark{
	position: absolute;
	top: 10px;
	right: 10px;
}
.fa-arrow-left-long{
	position: absolute;
	top: 10px;
	left: 10px;
}
.modal form div{
	margin-bottom: 30px;
}
.modal figure{
    width: 79px;
	height:140;
	font-size: small;
	position:relative;
	margin: 0 auto;
}
.modal figure img{
	height: 70%;
	width: 100%;
	object-fit: cover;
}
.modal button,.formLogin input[type="submit"],.formAjout input[type="submit"]{
	margin : 2em auto ;
}
.modal p{
	color: red;
}
.mingallery {
	width: 100%;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

/* modal Ajout Photo */
.formAjout {
	width: 67%;
	align-items: stretch;
}
.formAjout input[type="submit"]{
	width:fit-content
}
.formAjout div:nth-child(1){
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: #E8F1F7;
    border-radius: 3px;
	width: 420px;
	height: 169px;
}
.dustbin{
	position: absolute;
	top:5px;
	right:5px;
	padding:5px;
	color: white;
	background-color: #44444497;
}

.formAjout input[type="file"]{
	color: transparent;
 	visibility:hidden;
	height: 0;
	background-color: transparent;
}
.fa-image{
	font-size:58px;
	display: block;
	color: #B9C5CC;
	margin-bottom: 30px;
}
.formAjout button{
	padding: 10px 30px;
	background: #CBD6DC;
	color:#306685;
	border: none;
	margin:0;
}
.formAjout input,.formAjout select{
	padding-left :2%;
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	color: #444444;
}
.formAjout input{
	width:97%
}
.formAjout select{
	width: 100%;
}
.moins,.plus{
	position:absolute;
	top:300px;
}
.plus{
	right:55px;
}
.moins{
	left:55px;
}
.editBtnPhoto{
	margin-left:57px;
}
